/*************************************************************
  HEADER
**************************************************************/
header {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    transform-style: inherit;
    z-index: -1;
}

/*header::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    min-height: 100%;*/
/*    min-width: 100% ;*/
/*    width: 100%;*/
/*    z-index: -2;*/
/*    border: 3px solid black;*/
/*    box-shadow: 0px 0px 10px 6px #000000;*/
/*}*/
/*************************************************************
  SECTIONS
**************************************************************/
section {
    position: relative;
    min-height: 100vh;
    width: 100%;
    transform-style: inherit;
}

.orca{
    width: 100%;
}

.orca::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    display: block;
    background: url('img/orca.jpg') top center;
    /*background-size: cover;*/
    background-size: 100%;
    background-repeat: no-repeat;
    transform: translateZ(-.5px) translate(0, 10%) scale(2);
    z-index: -1;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 6px #000000;
}


.jubarte {
    z-index: 1;
    background: url('img/jubarte.jpeg')top center;
    background-size: cover;
    box-shadow: 0px 0px 14px 9px rgba(0, 0, 0, 0.64);
}

.cachalote{
    width: 100%;
}

.cachalote::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    display: block;
    background: url('img/cachalote.jpg') top center;
    /*background-size: cover;*/
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    transform: translateZ(-.5px) translate(0,10%) scale(1.65);
    z-index: -1;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 6px #000000;
}
/*************************************************************
  HEADINGS
**************************************************************/
h1 {
    font-size: 50px;
    text-align: center;
    position: absolute;
    padding: 1rem;
    background: rgba(15,81,255,0.93);
    box-shadow: 0px 0px 10px 6px #000000;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -25%);
    text-shadow: 0px 10px 6px rgba(19, 18, 18, 0.8);
    border: 3px solid black;
    width: 300px!important;
    height: 100px!important;
}

.orca h1{
    transform: translate(-50%, -50%)  !important;
}

.jubarte h1 {
    z-index: 3;
    transform: translate(-50%, -50%);
    background: rgba(15, 81, 255, 0.93);
}

.cachalote h1 {
    transform: translateZ(-.3px) scale(1.3) translate(-39%, -39%);
    z-index: 3;


}
/*************************************************************
  BASIC STYLES
**************************************************************/
*,
*::before,
*::after,
:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    perspective: 1px;
    transform-style: preserve-3d;
    font-size: 62.5%;
    font-family: 'Overlock', Arial, Helvetica, sans-serif;
    background-size: cover;
    font-weight: bold;
    position: absolute;
    z-index: 2;
    width: 100%;
    text-align: center;
    background: url("img/oceano.jpg") , rgba(0,0,0,.9);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: screen;
    margin-bottom: 0 !important;
}