
h1{
    font-family: Cursive;
    text-shadow: 0 0 3px #ff0000
}

body{
    background-image: url("fundo.jpg");
}

footer{
    margin-left: 40%, !important;
    margin-right: 40%, !important;

}

footer img{
    width: 30px;
    height: 30px;
    text-align: inherit;
    margin-top: 10px;
}


#base{
    background-color: rgba(128, 128, 128, 0.25);
    width: auto;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    margin-top: 150px;
}

#footer{
    width: 100%;

}